@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    background: rgb(127,0,255);    
}
#loginpage{
    display: flex;
    justify-content: center;
    margin-top: 250px;
    height: 100px;
}

#signInButton{
    background-color: red;
    color: white;
}