@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.col-1{
    width: 8.33%;
}

.col-2{
    width: 16.66%;
}

.col-3{
    width: 25%;
}

.col-4{
    width: 33.33%;
}

.col-5{
    width: 41.66%;
}

.col-6{
    width: 50%;
}

.col-7{
    width: 58.33%;
}

.col-8{
    width: 66.66%;
}

.col-9{
    width: 75%;
}

.col-10{
    width: 83.33%;
}

.col-11{
    width: 91.66%;
}

.col-12{
    width: 100%;
}

/* mobile responsive start*/

@media only screen and (max-width: 576px)
{
    header{
        height: 50px;
        color: #bf00ff;
    }

    .col-3{
        width: 25%;
    }

    nav{
        height: 50px;
        background-color: blue;
    }    
}

/* mobile responsive end*/

#logo{    
    float: left;
    height: 50px;
    width: 100px;
}

header{
    height: 50px;
    background: rgb(127,0,255);
    background: linear-gradient(90deg, rgba(127,0,255,0.2329306722689075) 0%, rgba(225,0,255,0.17690826330532217) 100%);
}

a{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}

nav{
    background: #9400ff;
    height: 40px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

li{
    float: left;
    text-align: center;
    padding-top: 13px;
    height: 50px;
}

.marquee-text{
    background-color: #bf00ff;
    margin-top: -3px;
}

#addwork{
    font-size: 40px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    color: purple;
}

#jobs_bg{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#add_job{
    width: 75%;
    height: auto;
    background-color: white;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 15px;
    padding: 10px;
    margin-top: 30px;
}

#add_job h1{
    text-align: center;
    color: purple;
    font-family: 'Ubuntu' , sans-serif;
}

#ridername ,#s_name ,#date ,#work_type ,#frm ,#to ,#total_km{
    width: 100%;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    border: none;
    border: 1px solid purple;
    border-left: 5px solid purple;
    outline: none;
}

#add{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    margin-top: 10px;
}

#submit_btn ,#close_btn{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    padding: 5px 10px;
    margin-top: 15px;
    color: white;
    background-color: purple;
    margin-bottom: 10px;
}