@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.col-1{
    width: 8.33%;
}

.col-2{
    width: 16.66%;
}

.col-3{
    width: 25%;
}

.col-4{
    width: 33.33%;
}

.col-5{
    width: 41.66%;
}

.col-6{
    width: 50%;
}

.col-7{
    width: 58.33%;
}

.col-8{
    width: 66.66%;
}

.col-9{
    width: 75%;
}

.col-10{
    width: 83.33%;
}

.col-11{
    width: 91.66%;
}

.col-12{
    width: 100%;
}

#logo{
    float: left;
    height: 50px;
    width: 100px;
}

header{
    height: 50px;
    background: rgb(127,0,255);
    background: linear-gradient(90deg, rgba(127,0,255,0.2329306722689075) 0%, rgba(225,0,255,0.17690826330532217) 100%);
}

a{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}

nav{
    background: #9400ff;
    height: 40px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

li{
    float: left;
    text-align: center;
    padding-top: 13px;
    height: 50px;
}

section{
    height: fit-content;
    background: rgb(127,0,255);
    background: linear-gradient(90deg, rgba(127,0,255,0.2329306722689075) 0%, rgba(225,0,255,0.17690826330532217) 100%);
}